<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Codeero - Design</title>
    <!-- Bootstrap Core CSS -->
    <link href=".././vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href=".././vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Custom CSS -->
    <link href="../css/jdventures.min.css" rel="stylesheet"> </head>

<body id="Terminal_Window" onload="startTerminal(5)">
    <div class="terminal"> <span class="floatButtons"> <i class="fa fa-times-circle text-danger fa-lg but fa_with_bg" aria-hidden="true"></i><i class="fa fa-minus-circle text-warning fa-lg but fa_with_bg" aria-hidden="true"></i> <i class="fa fa-plus-circle text-success fa-lg but fa_with_bg" aria-hidden="true"></i> </span> <span class="text" id="terminal-text">Design Work</span> </div>
    <!-- Header -->
    <header class="masthead d-flex">
        <div class="container text-center"> <img class="img-fluid" src="../img/construction.png">
            <h1 class="mb-1 w">Brewing Up The Design Page</h1>
            <br>
            <h3 class="mb-5 w"> <em>We'll be ready soon! </em></h3> <a class="btn btn-primary btn-xl js-scroll-trigger" href="../index.html">Let's Go Back</a> </div>
        <div class="overlay"></div>
    </header>
    <!-- Scroll to Top Button--><a class="scroll-to-top rounded js-scroll-trigger" href="#Terminal_Window">
      <i class="fa fa-angle-up"></i>
    </a> </body>

</html>