
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Codeero - Login</title>
    <!-- Bootstrap Core CSS -->
    <link href=".././vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href=".././vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <!-- Custom CSS -->
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="../css/jdventures.min.css" rel="stylesheet"> </head>

<body id="Terminal_Window">
    <div class="terminal"> <span class="floatButtons"> <i class="fa fa-times-circle text-danger fa-lg but fa_with_bg" aria-hidden="true"></i><i class="fa fa-minus-circle text-warning fa-lg but fa_with_bg" aria-hidden="true"></i> <i class="fa fa-plus-circle text-success fa-lg but fa_with_bg" aria-hidden="true"></i> </span> <span class="text" id="terminal-text">Login</span> </div>
    <!-- Header -->
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <div class="alert alert-danger" id="alert"> <strong>Error!</strong> It appears we're not yet aqquaninted!</div>
            <form class="form-signin">
                <h2 class="mb-3 font-weight-normal w">Client Area</h2>
                <label for="inputEmail" class="sr-only">Email address</label>
                <input id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="" type="email">
                <label for="inputPassword" class="sr-only">Password</label>
                <input id="inputPassword" class="form-control" placeholder="Password" required="" type="password">
                <div class="checkbox mb-3">
                    <label class="w">
                        <input value="remember-me" type="checkbox"> Remember me </label>
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit" onclick="logUserIn()">Sign in</button>
                <p class="mt-5 mb-3 text-muted">© 2015-2018</p>
            </form>
        </div>
        <div class="overlay"></div>
    </header>
    <!-- Scroll to Top Button--><a class="scroll-to-top rounded js-scroll-trigger" href="#Terminal_Window">
      <i class="fa fa-angle-up"></i>
    </a>
    <!-- The Modal -->
    <!-- Bootstrap core JavaScript -->
    <script src=".././vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Plugin JavaScript -->
    <!-- Custom scripts for this template -->
    <script src="../js/jdventures.min.js"></script>
</body>

</html>